{% extends "ss-base.html" %}
{% set active_page = "deposit" %}

{% block body_content %}
{{ super() }}

    <div class="container">
      <div class="meta-container row">
        <h1>Your Deposit</h1>

        <div class="span2">
          <h2>Files:</h2>
        </div>

        <div class="span8">
          <table id="filetable" class="table table-bordered">
          </table>
        </div>
        
        <div id="domain" class="span2">
          <h2>Domain:</h2> 
        </div>
        <div class="span8">{{ domain }}</div>


        <div id="meta" class="span10">
          <h2>Please add some more metadata:</h2>

          <input type="hidden" id="filelist" name="files" value="{{ fileret }}"/>
          {{ wtf.quick_form(form, action="finalise", buttons=[('submit', 'primary', 'Deposit')]) }}
        </div>
      </div>
        

    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/addmeta.js') }}"></script>
{% endblock %}
