{% extends "ss-base.html" %}
{% set active_page = "deposit" %}

{% block body_content %}
{{ super() }}

    <div class="container">
      <form method="post"  enctype="multipart/form-data" 
        action="{{ url_for('file_upload') }}">
        <input type="hidden" id="fileselec" name="files" value="">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Deposit</h1>

        <p/>
        <div id="drop_zone">
          <h2>Drag and Drop files here
            <br/>or <input id="browse" type="file" multiple name="files"></input>
          </h2>
        </div>
        <output id="list"></output>

        <script>
          function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files; // FileList object.

            // files is a FileList of File objects. List some properties.
            var output = [];
            for (var i = 0, f; f = files[i]; i++) {
              output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
              f.size, ' bytes, last modified: ',
              f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
              '</li>');
            }
            document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
            document.getElementById('fileselec').value = JSON.stringify(files);
          }

          function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
          }

          // Setup the dnd listeners.
          var dropZone = document.getElementById('drop_zone');
          dropZone.addEventListener('dragover', handleDragOver, false);
          dropZone.addEventListener('drop', handleFileSelect, false);
        </script>
      </div>
      <div class="domains" id="domains" width="100%">


        <h2>Select a domain</h2>

        <!-- id/value, text, icon -->
  {% set domain_entries = [
    ('other', 'Other', 'icon-question-sign'),
    ('ecology', 'Ecology', 'icon-leaf'),
    ('chemistry', 'Chemistry', 'icon-beaker'),
    ('geography', 'Geography', 'icon-globe'),
    ('medicine', 'Medicine', 'icon-stethoscope'),
    ('compsci', 'Computer Science', 'icon-laptop'),
    ('economics', 'Economics', 'icon-money'),
    ('linguistics', 'Linguistics', 'icon-quote-right')
  ] -%}
  {% set default_domain = default_domain|default('other') -%}


  {% for id, text, icon in domain_entries %}
  <div class="in {% if id == default_domain %} highlight-icon{% endif %}">
    <input type="radio" class="visuallyhidden" name="domain" id="{{ id }}" value="{{ id }}" 
    {% if id == default_domain %}checked="checked"{% endif %}/>
    <label for="{{ id }}">
      &nbsp;<i class="{{ icon }} icon-large icon-4x"></i>
      <h5>{{ text }}</h5>
    </label>
  </div>
  {% endfor %}

     <input class="btn btn-primary btn-large pull-right" type="submit"/>

      </div>
        </form>
      </div>
{% endblock %}
{% block scripts %}
{{ super() }}

  <script>
    $('#domains input:radio').addClass('visuallyhidden');
    $('#domains .in').click(function() {
      $(this).addClass('highlight-icon').siblings().removeClass('highlight-icon');
      });
  </script>
{% endblock %}
