{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block style %}
  {{ super() }}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ss-style.css') }}">

{% endblock %}
{% block body_content %}

  {% set nav_bar_items = [
    ('/', 'home', 'Home'),
    ('/deposit', 'deposit', 'Deposit')
  ] -%}
  {% set active_page = active_page|default('home') -%}


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SuperSimpleStore</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% for href, id, caption in nav_bar_items %}
                <li {% if id == active_page %} class="active"{% endif
                %}><a href="{{ href }}">{{ caption }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

{% endblock %}

{# Really just want to rename block, assume this the way... #}
{% block bootstrap_js_bottom %}
  {{ super() }}
  {% block scripts %}

  {% endblock %}
{% endblock %}

