{% extends "ss-base.html" %}
{% set active_page = "deposit" %}

{% block body_content %}
{{ super() }}

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Give me some metadata love:</h1>

        <div id="files">
          <h2>Files</h2>
        </div>
        
        <input type="hidden" id="filelist" name="files" value="{{ fileret }}"/>
        {{ wtf.quick_form(form, action="finalise", buttons=[('submit', 'primary', 'Deposit')]) }}
        
      </div>

    </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    json = $.parseJSON($("#filelist").attr("value"));
    filediv = $("#files");
    $.each(json, function(index, file) {
      filediv.append("<p>" + file.name + "</p>");
    });
  </script>
{% endblock %}
