{% extends "ss-base.html" %}

{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SuperSimpleStore</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="deposit">Deposit</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to the Super Simple Store!</h1>
        <p/>
        <p>Here you can submit documents and files to be archived and will recieve
        a unique identifier that unambiguously identifies them. 
        </p>
        <p>The site also supports associating metadata with uploaded content
        which can be used to support advanced indexing and searching.</p>
        
        <p><a class="btn btn-primary btn-large" href="deposit">Deposit something &raquo;</a></p>
      </div>

    </div>
{% endblock %}
